header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 28px 15px 24px;

    h3 {
        color: $red;
        font-size: 20px;
        font-weight: 700;
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            li{
                padding: 6px;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: $black;
                    font-weight: 700;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .buttons {
            display: flex;

            button {
                font-size: 16px;
                font-weight: 700;
                margin-left: 10px;
                padding: 11px 12px;
                border-radius: 20px;
                border: none;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .login {
                color: $white;
                background: $red;
            }

            .signup {
                background: $gray-light;
            }
        }
    }
}